<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="{{ direction }}" lang="{{ lang }}"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
{% if keywords %}<meta name="keywords" content="{{ keywords }}" />{% endif %}
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
{% for style in styles %}<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />{% endfor %}
{% for link in links %}<link href="{{ link.href }}" rel="{{ link.rel }}" />{% endfor %}
{% for analytic in analytics %}{{ analytic }}{% endfor %}
</head>
<body>
    <header>   
	    {% if items %}     
	    <nav id="top">      
		  <div class="container">    	  
		    <div id="top-links" class="flex flex-right">    	  
			  <ul class="flex jus notul">        
			    {% for i in items %}        		
				<li><a href="{{ i.href }}">{{ i.title }}{% if 'compare' in i.href %}<span id="compare_total">0</span>{% endif %}{% if 'wishlist' in i.href %}<span id="wishlist_total">0</span>{% endif %}</a></li>		
				{% endfor %}      
			  </ul>  	  
			</div>  	
		   </div>  
		</nav>  
		{% endif %}    
	    <div class="container">    
		  <div class="flex jus header">      
		    <div class="col-2">        
			    <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}          <h1><a href="{{ home }}">{{ name }}</a></h1>          {% endif %}</div>      
			</div>     
			<div class="flex2 tels flex-right" style="align-items: flex-end">
			    <div>
		      	  <div class="open">{{ open }}</div>
			      <a href="tel:{{ telephone2 }}" class="tel">{{ telephone }}</a>
				</div>
				<div>
			      <a href="tel:{{ fax2 }}" class="tel">{{ fax }}</a>
				</div>
				<div class="open"><a href="/delivery">Бесплатная доставка</a> по Москве от 5000 руб</div>
			</div>  
            {{ cart }} 			
		   </div>  
		</div>
		{% if items2 %}     
	    <div id="menu">       
		  <div class="container">    	  
		    <ul class="flex jus notul"> 
                <li style="position: relative">{{ search }}</li>			
			    {% for i in items2 %}        		
				<li>
				  <a href="{{ i.href }}" class="amenu">{{ i.title }}</a>
				  {% if i.childs %}
                  <div class="main_menu flex2 jus">
                    <p>Категории</p>				  
	   			    <ul class="second notul flex2 wrap col-8">
				      {% for i2 in i.childs %} 
			   		  <li><a href="{{ i2.href }}">{{ i2.title }}</a></li>
					  {% endfor %}
				    </ul>
				  </div>
				  {% endif %}
				</li>		
				{% endfor %}      
			</ul> 	
		   </div>  
		</div>  
		{% endif %} 
	</header>
	<main>